name: workflow-ci-dev

on:
  push:
    branches:
      - dev
      - feature/**
  pull_request:

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configurar JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Subir containers com Docker Compose
        run: |
          echo "Subindo MySQL + RabbitMQ..."
          docker compose up -d
          echo "Aguardando serviços inicializarem..."
          sleep 30
          docker ps -a

      - name: Executar testes de integração
        env:
          SPRING_PROFILES_ACTIVE: test
          MYSQL_HOST: localhost
          MYSQL_PORT: 3308
          MYSQL_DATABASE: studiozero
          MYSQL_USER: root
          MYSQL_PASSWORD: studiozero
          RABBITMQ_USER: studiozero-admin
          RABBITMQ_PASSWORD: studiozero-rmq-pass
          RABBITMQ_HOST: localhost
          RABBITMQ_PORT: 5672
        run: mvn test -e -X

      - name: Derrubar containers
        if: always()
        run: docker compose down -v
